<nav class="navbar navbar-expand-lg navbar-light bg-grey" style="background-color: #9c9c9c;">
    <h3 class="navbar-brand">Bienvenido <%= username %>
    </h3>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <% if (rol == "1" ) { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats">Info</a>
        </li>
          <% } %>
      </ul>
      <div class="float-right">
        <button class="btn btn-danger" onclick="location.href='/logout'">
            <b>Cerrar sesión</b>
        </button>
    </div>
  </nav>
<div style="padding: 2% 2% 5% 2%; background-color: #9c9c9c; border-radius: 0.3rem; margin: 2% 2% 2% 2%;">
    <div class="float-left">
        <h1 style="font-family: 'Courier New', Courier, monospace;">CAFETERIA <span
                style="color: rgb(40, 51, 72); font-size: smaller; font-style: oblique; font-family: sans-serif;">Online</span>
        </h1>
    </div>
</div>