<div style="padding: 1rem 2rem; background-color: #e9ecef; border-radius: 0.3rem;">
  <div class="float-left">
      <h1>Bienvenido</h1>
  </div>

  <div class="float-right">
      <button class="btn btn-danger" onclick="location.href='/logout'">
          <b>Desloguear</b>
      </button>
  </div>
</div>
