<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  
    <div class="jumbotron">
      <h1>Ingrese producto</h1>
      <form action="/products" method="post">
        <input type="text" name="nombre" placeholder="Ingrese nombre" id="">
        <input type="text" name="precio" placeholder="Ingrese precio" id="">
        <input type="text" name="url" placeholder="Foto url" id="">
        <input type="submit" value="Enviar">
      </form>
    </div>  

    <div class="jumbotron">
      <h1>Historial</h1>
        <table class="table">
          <tbody id="productList">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Foto</th>
            </tr>
          </tbody>
        </table>
    </div>

     <div>
        <h1>CHAT</h1>      
        <h4>Crear nuevo mensaje: </h4>
        <form id="form">
          <input placeholder='E-Mail' type="text" name="mail" id="mail">
          <input placeholder='Mensaje' type="text" name="text" id="text">
          <input type="submit" value="Enviar">
        </form>      
        <h4>Mensajes:</h4>
        <div id="messages"></div>
      </div>

      
      <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
      <script>
        const socket = io();
//chat
    socket.on('conversation', (messages) => {
    const messagesHtml = messages.map((message) => `
      <div>
        <strong style= "color: blue">${message.mail}:  </strong>
        <em>[<em style="color:brown">${message.date}</em>]: <i style= "color: green">${message.text}</i></em>
      </div>`)
    .join(' ');

  document.getElementById("messages").innerHTML = messagesHtml;
});

//obtengo entradas de chats
const form = document.getElementById("form")

form.addEventListener("submit", (event) => {
  event.preventDefault();
  const mail = document.getElementById('mail').value;
  const text = document.getElementById('text').value;

  //creacion de data en GB para formato en 24hs
  const date = new Date().toLocaleString("en-GB");

  console.log(({
    mail, date, text
  }));
  const message = { mail, date, text }
  socket.emit('new-message', message);
});

//tabla de productos facker
<div>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Foto url</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    
  </tbody>
</table>
  </div>


      </script>
 </body>
 <%- include('../partials/scripts'); %>
 </html>