<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body style="background-color: rgb(40, 40, 40);">
    <header>
        <%- include("../partials/welcome");%>
    </header>

    <!-- LISTA DE PRODUCTOS -->
    <div style="padding: 2% 2% 5% 2%; background-color: #9c9c9c; border-radius: 0.3rem; margin: 2% 2% 2% 2%;">
        <h2>PRODUCTOS</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        <h5>Productos</h5>
                    </th>
                    <th scope="col">
                        <h5>Precio</h5>
                    </th>
                    <th scope="col">
                        <h5>Imagen</h5>
                    </th>
                    <th scope="col">
                    </th>
                </tr>
                <hr>
                <br>
            </thead>
         <!-- Bebidas de muestra (no estan en base de datos) -->
         <tbody>
            <tr>
              <td scope="col">Cafe Cortado</td>
              <td scope="col">150</td>
              <td scope="col"><img src="https://i.postimg.cc/Bn2YWjNH/jeremy-yap-jn-Ha-GWe4yw-unsplash.jpg"
                  style="height: 80px; border-radius: 20%;" /></td>
              <td scope="col">Solo Muestra</td>
            </tr>
            <tr>
              <td scope="col">Cafe Expresso</td>
              <td scope="col">200</td>
              <td scope="col"><img src="https://i.postimg.cc/0NcCxDSM/photo-1498709112912-9be3173d30be-crop-faces-edges-cs-tinysrgb-fit-crop-fm-jpg-ixid-Mnwx-Mj-A3f-DB8-MXxhb.jpg"
                  style="height: 80px; border-radius: 20%;" /></td>
              <td scope="col">Solo Muestra</td>
            </tr>
            <tr>
              <td scope="col">Late</td>
              <td scope="col">150</td>
              <td scope="col"><img
                  src="https://i.postimg.cc/PfZ2vpsc/photo-1541167760496-1628856ab772-crop-faces-edges-cs-tinysrgb-fit-crop-fm-jpg-ixid-Mnwx-Mj-A3f-DB8-MXxhb.jpg"
                  style="height: 80px; border-radius: 20%;" /></td>
              <td scope="col">Solo Muestra</td>
    
            </tr>
            <tr>
              <td scope="col">Te Helado</td>
              <td scope="col">100</td>
              <td scope="col"><img src="https://i.postimg.cc/LXFgcsCY/photo-1571934811356-5cc061b6821f-crop-faces-edges-cs-tinysrgb-fit-crop-fm-jpg-ixid-Mnwx-Mj-A3f-DB8-MXxhb.jpg"
                  style="height: 80px; width: 80px; border-radius: 20%;" /></td>
              <td scope="col">Solo Muestra</td>
            </tr>
          <tbody id="productsList"">
                <!-- Despliegue de lista de bebidas -->
                
            </tbody>
            </tbody>
        </table>
    </div>

    <!-- PEDIDO -->
    <div style="padding: 2% 2% 5% 2%; background-color: #9c9c9c; border-radius: 0.3rem; margin: 2% 2% 2% 2%;">
        <h3>Agregar nuevo producto:</h3>
        <hr>
        <form id="formAgregarProductos" action="/productos" method="post">
            <!-- Campo nombre del producto -->
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input id="nombre" class="form-control mb-2 mr-sm-2" type="text" name="title" required>
            </div>

            <!-- Campo precio del producto -->
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input id="precio" class="form-control mb-2 mr-sm-2" type="number" step="0.01" name="price" required>
            </div>

            <!-- Campo url de la foto del producto -->
            <div class="form-group">
                <label for="foto">Foto URL:</label>
                <input id="foto" class="form-control mb-2 mr-sm-2" type="url" name="thumbnail" required>
            </div>

            <!-- Campo descripcion del producto -->
            <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea id="description" class="form-control mb-2 mr-sm-2" type="text" name="description"
                    required></textarea>
            </div>

            <!-- Campo categoria del producto -->
            <div class="form-group">
                <label for="category">Categoría:</label>
                <select name="category" class="form-control" required>
                    <option value="bebida" selected>Bebida</option>
                    <option value="comida">Comida</option>
                    <option value="Accesorios">Accesorios</option>
                </select>
            </div>

            <!-- Botón de envío -->
            <button class="btn btn-dark mt-3" type="submit">Enviar</button>
        </form>
    </div>

    <!-- SCRIPTS -->

    <script>
        function getProducts () {
            console.log('getProducts...')
            const options = {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            }
            return fetch('/productos', options)
                .then(response => response.json())
                .then((products) => {
                    const productsListHTML = products
                        .map(
                            (products) => `
            <tr>
                <td scope="col">${products.title}</td>
                <td scope="col">${products.price}</td>
                <td scope="col">
                    <img src = ${products.thumbnail} style="height: 80px; width: 80px; border-radius: 20%;"/>
                </td>
                <td scope="col"><button class="btn btn-danger" title="Eliminar bebida" id="${products.id}" onClick="eliminarBebida(event)">Eliminar</button></td>
            </tr>
            `
                        )
                        .join('')

                    const productsList = document.getElementById('productsList')
                  productsList.innerHTML = productsListHTML
                })
                .catch((error) => {
                    console.log(error)
                })
        }

        function eliminarproducto (event) {
            const idProduct = event.target.id
            deleteDrink(idProduct)
        }

        function deleteProduct(idProduct) {
            console.log('deleteProduct...')
            const options = {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                }
            }
            return fetch(`/productos/${idProduct}`, options)
                .then(() => {
                    getProducts()
                })
                .catch((error) => {
                    console.log(error)
                })
        }
        getProducts()
    </script>
</body>
</html>