<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head"); %>
</head>

<body style="background-color: #a3927257;">
  <header>
    <%- include("../partials/welcome"); %>
  </header>

  <!-- PORTADA -->
  <div style="background-image: url('https://i.postimg.cc/y6GQhXb6/carolina-marinelli-Pkbyxvk-GWc-U-unsplash.jpg'); 
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;">
  </div>

  <% if (rol == "1" || "2") { %>
  <!-- LISTA DE BEBIDAS -->
  <div style="padding: 2% 2% 5% 2%; background-color: #a3927257; border-radius: 0.3rem; margin: 2% 2% 2% 2%;">
    <h2>PRODUCTOS</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <h5>Producto</h5>
          </th>
          <th scope="col">
            <h5>Precio</h5>
          </th>
          <th scope="col">
            <h5>Imagen</h5>
          </th>
          <th scope="col">
          </th>
        </tr>
       
        <tr>
          <th scope = "col">
            <h6> </h6>
          </th>
        </tr>
        <hr>
        <br>
      </thead>
      <!-- Bebidas de muestra (no estan en base de datos) -->
      <tbody>
        <tr>
          <td scope="col">Cafe Cortado</td>
          <td scope="col">150</td>
          <td scope="col"><img src="https://i.postimg.cc/Bn2YWjNH/jeremy-yap-jn-Ha-GWe4yw-unsplash.jpg"
              style="height: 80px; border-radius: 20%;" /></td>
          <td scope="col">Solo Muestra</td>
        </tr>
        <tr>
          <td scope="col">Cafe Expresso</td>
          <td scope="col">200</td>
          <td scope="col"><img src="https://i.postimg.cc/0NcCxDSM/photo-1498709112912-9be3173d30be-crop-faces-edges-cs-tinysrgb-fit-crop-fm-jpg-ixid-Mnwx-Mj-A3f-DB8-MXxhb.jpg"
              style="height: 80px; border-radius: 20%;" /></td>
          <td scope="col">Solo Muestra</td>
        </tr>
        <tr>
          <td scope="col">Late</td>
          <td scope="col">150</td>
          <td scope="col"><img
              src="https://i.postimg.cc/PfZ2vpsc/photo-1541167760496-1628856ab772-crop-faces-edges-cs-tinysrgb-fit-crop-fm-jpg-ixid-Mnwx-Mj-A3f-DB8-MXxhb.jpg"
              style="height: 80px; border-radius: 20%;" /></td>
          <td scope="col">Solo Muestra</td>

        </tr>
        <tr>
          <td scope="col">Te Helado</td>
          <td scope="col">100</td>
          <td scope="col"><img src="https://i.postimg.cc/LXFgcsCY/photo-1571934811356-5cc061b6821f-crop-faces-edges-cs-tinysrgb-fit-crop-fm-jpg-ixid-Mnwx-Mj-A3f-DB8-MXxhb.jpg"
              style="height: 80px; width: 80px; border-radius: 20%;" /></td>
          <td scope="col">Solo Muestra</td>
        </tr>
      <tbody id="productsList">
        <!-- Despliegue de lista de Productos -->
        
          
      </tbody>
      </tbody>
    </table>
  </div>


  <% } %>

  <!-- COMENTARIOS -->
  <div style="padding: 2% 2% 5% 2%; background-color: #a3927257; border-radius: 0.3rem; margin: 2% 2% 2% 2%;">
    <h2>Comentarios</h2>
    <hr>
    <form id="form" autocomplete="off">
      <div class="form-group">
        <div id="username" data-username=<%=username %>>
          <p style="font-weight: bold; color:darkblue;">
            <%= username %>
          </p>
        </div>
        <label for="text" style="font-weight: bold;">Nuevo comentario:</label>
        <input class="form-control mb-2 mr-sm-2" placeholder='Escriba su mensaje...' name="text" id="text"
          rows="3"></input>
      </div>
      <input class="btn btn-dark" type="submit" value="Enviar">
    </form>
    <hr>

    <!-- Comentarios de muestra (no estan en base de datos) -->
    <div>
      <strong style="color:darkblue;">CAFETERIA online</strong>
      <em>[<em style="color:brown">01/04/2023, 17:05:00</em>]: <i style="color: darkgreen">¡BIENVENIDOS A LA ZONA DE
          COMENTARIOS!</i></em>
    </div>
    <div>
      <strong style="color: darkblue">Gs</strong>
      <em>[<em style="color:brown">01/04/2023, 17:10:00</em>]: <i style="color: darkgreen">Hola, cuanto cuesta el envio? </i></em>
    </div>
    <div>
      <strong style="color: darkblue">CAFETERIA online</strong>
      <em>[<em style="color:brown">02/04/2023, 17:11:00</em>]: <i style="color: darkgreen">Hola, el envio es sin cargo en compras mayores a 2000 pesos</i></em>
    </div>
    <div>
      <strong style="color: darkblue">Gs</strong>
      <em>[<em style="color:brown">02/04/2023, 17:11:00</em>]: <i style="color: darkgreen">Buenisimooo... Ahi te hago un pedido</i></em>
    </div>
    <div>
      <strong style="color: darkblue">CAFETERIA online</strong>
      <em>[<em style="color:brown">02/04/2023, 17:13:00</em>]: <i style="color: darkgreen">Dale cualquier duda estamos a disposicion...</i></em>
    </div>
  
    <div id="mensajes">
      <!-- Despliegue de comentarios -->
    </div>
  </div>

  <!-- SCRIPTS -->
  <!-- Importacion de socket a travez de cdn -->
  <script src="https://cdn.socket.io/4.5.3/socket.io.min.js"
    integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous">
     </script>

  <script src="/js/home.js">

    
  </script>

</body>

</html>