<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body style="background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2022/07/simpson-moe-szyslak-2751499.jpg')">
    <div class="container text-center my-3">
        <div class="jumbotron" style="background-color: salmon;color: white;">
            <h1>OUCH! ESTA RUTA NO EXISTE.</h1>
            <button class="btn btn-warning my-5" onclick="location.href='/'">HOME</button>
        </div>
    </div>
</body>
</html>