<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body style="background-image: url('https://i.postimg.cc/52mNF02J/qiming-chen-lz-CH2-8q-RH8-unsplash.jpg')">
    <div class="container text-center my-3">
        <div class="jumbotron" style="background-color: salmon;color: white;">
            <h1>OUCH! ESTA RUTA NO EXISTE.</h1>
            <button class="btn btn-warning my-5" onclick="location.href='/'">HOME</button>
        </div>
    </div>
</body>
</html>